* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 2%;
}

.container_empty {
    display: none;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.container_text-buttons {
    text-align: center;
    width: 50%;
}

.container_text-buttons textarea {
    width: 100%;
    padding: 10px;
    max-height: 250px;
    min-height: 200px;
    resize: vertical;
    outline: none;
    font-size: 1.1rem;
}

.container_buttons {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.container_buttons button {
    cursor: pointer;
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    width: 30%;
    border-radius: 12px;
    color: #fff;
    background-color: #0000ff;
    border: 1px solid;
    transition: .5s;
}

.container_buttons button:not(:first-child) {
    color: #0000ff;
    background-color: #fff;
}

.container_buttons button:hover {
    transform: scale(1.05);
}

.container_results {
    height: 100%;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result {
    padding: 10px;
    max-width: 100%;
    word-wrap: break-word;
}